env:
  node: true
  es6: true

rules:
  quotes: [1, single]
  no-multi-spaces: 2
  key-spacing: [2, { align: "value" }]
  strict: false
  no-mixed-requires: false
  no-underscore-dangle: false
  no-redeclare: true
  curly: [2, "multi"]